/* ========== *
 * = Global = *
 * ========== */ 

html * {
   font-family: Lato;
}

body {
	margin: auto;
	background: linear-gradient(
      rgba(0, 0, 0, 0.0), 
      rgba(0, 0, 0, 0.3)
    ), url("../assets/background.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
	text-decoration: none;
	color: white;
}

ul {
	list-style-type: none;
}

.active-page span {
	border-bottom: solid 5px #d3d3d3;
}

/* ========== *
 * = Header = *
 * ========== */ 

.header-container {
	display: flex;
}

.navbar-container {
	float: right;
	margin-left: auto;
}

.header-title {
	float: left;
	font-weight: bold;
	text-decoration: none;
	font-size: 30px;
	margin: 10px 20px;
	color: white;
}

/* ================== *
 * = Navigation Bar = *
 * ================== */ 


.navbar-items {
	padding: 0;
	margin: 15px auto;
	text-align: center;
}

.navbar-items li {
	display: inline-flex;
}

.navbar-items a {
	font-weight: bold;
	text-decoration: none;
	font-size: 20px;
	margin: 5px 20px;
	color: white;
}

/* ======== *
 * = Home = *
 * ======== */

#welcome-container {
	position: fixed;
	top: 40%;
	left: 0;
	right: 0;
	margin: auto;
	display: block;
	width: 80%;
}

#welcome {
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	font-size: 130px;
	color: white;
} 

#welcome-message {
	margin: 0 auto;
	text-align: center;
	font-weight: normal;
	font-size: 40px;
	color: white;
}

#home-description {
	margin: 0 auto;
	text-align: center;
	font-weight: normal;
	font-size: 30px;
	color: white;
}

#home-description a {
	text-decoration: underline;
}

#home-bottom-message {
	position: fixed;
	margin: 50px auto;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	font-weight: normal;
	font-size: 20px;
	color: white;
}

#bg-image-credit {
	position: fixed;
	margin: 20px auto;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	font-weight: 300;
	font-size: 14px;
	color: white;
}

#bg-image-credit a {
	font-weight: bold;
}

.album-bottom-padding, .photo-bottom-padding {
	height: 30px;
}

.bottom-padding {
	height: 100px;
}

/* ======== *
 * = Page = *
 * ======== */ 

.page-title {
	margin: auto;
	padding-top: 100px;
	width: 80%;
	text-align: center;
	font-weight: bold;
	font-size: 60px;
	color: white;
}

.page-description {
 	margin: auto;
 	padding-top: 50px;
 	width: 60%;
 	text-align: center;
 	font-weight: normal;
 	font-size: 30px;
 	color: white;
}


/* ========= *
 * = Album = *
 * ========= */

.albums {
	display: block;
	margin: auto;
}

.album-container {
	display: block;
	margin: 10px auto;
	width: 60%;
	background-color: rgba(211, 211, 211, 0.5);
	border-radius: 20px;
}

.album-name {
	margin-bottom: 0;
	padding-top: 30px;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	color: white;
}

.album-date-created, .album-date-modified {
	margin: 10px 0 0 0;
	font-weight: normal;
	font-size: 20px;
	text-align: center;
	color: white;
}

.album-image {
	display: block;
	margin: auto;
	width: 500px;
	height: 500px;
	object-fit: cover;
	border-radius: 8px;
	border: solid white 3px;
	background-color: white;
}

.photos-title {
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	color: white;
}

.image-credit {
	margin-top: 10px;
	text-align: center;
	font-weight: normal;
	font-size: 14px;
	color: white;
}

.image-credit b {
	font-weight: 300;
	color: white;
}

 /* ================= *
  * = Photo Catalog = *
  * ================= */

.photos {
	margin: auto;
	background-color: rgba(211, 211, 211, 0.5);
	border-radius: 20px;
	width: 75%;
}

.photos-container {
	flex-wrap: wrap;
	display: flex;
	padding: 1.05vw;
}

.photo-item {
	display: block;
	margin: 1.05vw;
	width: 22vw;
	border-radius: 8px;
	border: solid black 1px;
	background-color: black;
	overflow: hidden;
}

.photo-image {
	margin: auto;
	background-size: 100%;
	width: 22w;
    height: 22vw;
	min-height: 22vw;
	background-color: white;
}

.photo-title {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	color: black;
}

.back-button {
	margin: 10px auto 20px auto;
	width: 200px;
	font-weight: normal;
	font-size: 20px;
	text-align: center;
	color: #d3d3d3;
}

.photo-caption {
	margin: 0;
	font-weight: normal;
	font-size: 20px;
	text-align: center;
	color: black;
}

.photo-credit {
	font-weight: normal;
	font-size: 16px;
	text-align: center;
	color: black;
}

.photo-albums {
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	color: white;
}

.photo-credit b {
	color: white;
}

.displayed-photo-image {
	display: block;
	width: 100%;
	height: auto;
	border: solid 3px white;
	border-radius: 8px;
}

.displayed-photo-container {
	margin: auto;
	max-width: 80%;
	padding-top: 20px;
}

.search-photo-name {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	color: white;
}

.displayed-album-title {
	margin: 0 auto;
	font-weight: bold;
	font-size: 20px;
	text-decoration: underline;
	text-align: center;
	color: white;
}

/* =============== *
 * = Image Popup = *
 * =============== */ 

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 5%;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    width: 80%;
    height: 80%;
    overflow: auto;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.close {
	margin: 10px 15px 0 0;
    float: right;
    font-size: 30px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    color: gray;
    background-color: white;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.image-button {
	border: none;
}

.image-button:hover, .image-button:focus {
	cursor: pointer;
}

#photo-title {
	padding-top: 20px;
	font-size: 30px;
	margin-left: 15px;
}

#photo-image {
	margin: auto;
	display: block;
	width: auto;
    height: auto;
    max-width: 80%;
	max-height: 80%;
    border: solid 1px black;
}

.photo-caption {
	margin-top: 20px;
	font-weight: normal;
	font-size: 30px;
	color: white;
}

.photo-credit {
	font-weight: normal;
	font-size: 14px;
	color: white;
}

.photo-credit a {
	color: white;
}

/* =============== *
 * = Input Forms = *
 * =============== */ 

.general-description {
	margin: 70px 0 0 0;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

.form-description {
	margin: 10px 0;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

.page-description a {
	color: white;
	text-decoration: underline;
}

.add-form-container, .search-form-container {
	margin: 50px auto 50px;
	width: 50%;
}

.form-title {
	padding-top: 100px;
	font-weight: bold;
}

input {
	outline: none;
	min-height: 45px;
	min-width: 100%;
	height: 45px;
	font-size: 22px;
	font-weight: bold;
}

input[type=text], input[type=password], textarea {
	padding-left: 10px;
	margin: 8px auto;
	width: 100%;
	border-radius: 5px;
	border: solid 2px #4A4A4A;
	color: #4A4A4A;
}

input[type=submit], .delete-button {
	margin: 8px auto 0 auto;
	display: block;
	width: 200px;
	min-width: 120px;
	padding: 0 15px;
	border-radius: 7px;
	text-transform: uppercase;
	text-align: center;
	color: white;
	background-color: #4A4A4A;
	border-style: none;
	border: solid 2px #323132;
}

input[type=submit]:hover {
	background-color: #323132;
	transition: background-color 0.5s ease;
}

input[type="file"] {
    display: none;
}

input[type="checkbox"] {
	margin-bottom: 16px;
}

.custom-file-upload {
    display: inline-block;
    margin-bottom: 8px;
    padding: 11px 10px;
    width: 98.75%;
    font-weight: bold;
    font-size: 22px;
    border: solid 2px #4A4A4A;
    border-radius: 5px;
    background-color: #d3d3d3;
    color: #4A4A4A;
    cursor: pointer;
}

.custom-file-upload:hover {
    background: #8A8A8A;
}

/* ============ *
 * = Add Page = *
 * ============ */ 

.general-subtitle {
	margin: 15px auto;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	color: red;
}

#album-photo-field {
	display: inline-flex;
}

#album-form-subtitle {
	font-weight: bold;
	color: red;
}

#photo-form-subtitle {
	font-weight: bold;
	color: red;
}

.upload-button {
	font-weight: bold;
	font-size: 20px;
}

#select-albums-title {
	font-weight: bold;
	font-size: 25px;
}

/* ============== *
 * = Login Page = *
 * ============== */ 

.login-form-container, .add-form-container, .search-form-container {
	margin: auto;
	width: 60%;
	padding: 10px;
	background-color: rgba(211, 211, 211, 0.5);
	border-radius: 15px;
}

.login-form, .add-form, .search-form {
	margin: 20px auto;
	width: 80%;
}

#login-description {
	padding: 50px 0;
}

/* =============== *
 * = Search Page = *
 * =============== */

.search-form-container {
	margin-top: 20px;
}

.padding {
	height: 50px;
}

/* ============== *
 * = Edit Forms = *
 * ============== */

.edit-options-container {
	display: block;
	margin: auto;
	width: 450px;
	height: 40px;
}

.edit-photo-options-container {
	display: block;
	margin: auto;
	width: 307.5px;
	height: 40px;
}

.edit-options {
	display: inline-flex;
}

.delete-photo-button {
	border: none;
	display: block;
	margin: auto;
	background-color: transparent;
	color: white;
}

.edit-button {
	border: none;
	width: 145px;
	background-color: transparent;
}

.edit-photo-button {
	border: none;
	width: 150px;
	background-color: transparent;
}

.edit-photo-button {
	border: none;
	background-color: transparent;
}

.edit-button h3, .edit-photo-button h3, .delete-photo-button h3 {
	margin: 0;
	font-weight: normal;
	font-size: 20px;
	text-decoration: underline;
	color: white;
}

.edit-photo-button h3 {
	padding: 5px 0;
	text-align: center;
}

.options-divider {
	margin: auto;
	width: 7.5px;
	color: white;
}

.popup-message-container {
	margin: 60px auto;
}

.edit-album-form {
	width: 60%;
	margin: auto;
}

#edit-album-title-field {
	margin: 0 auto;
}

.edit-album-form input[type=submit] {
	margin-top: 30px;
}

.delete-photo-in-album-form input[type=submit] {
	margin-top: 0;
}

#delete-album-content, #delete-photo-content, #edit-album-content, #delete-photo-in-album-content {
	height: 300px;
}












