/* ========== *
 * = Global = *
 * ========== */ 

html * {
   font-family: Lato;
}

body {
	margin: auto;
}

a {
	text-decoration: none;
	color: white;
}

ul {
	list-style-type: none;
}

.active-page span {
	border-bottom: solid 5px #B1B1B1;
}

/* ========== *
 * = Header = *
 * ========== */ 

.header {
	background-image: url("../assets/bg.png");
	width: 100%;
	height: 400px;
}

.header-container {
	margin: auto;
	padding-top: 70px;
}

.header-title {
	display: block;
	margin: auto;
	padding: 50px 0 0 0;
	width: 60%;
	height: 200px;
}

.header-title h1 {
	font-weight: bold;
	font-size: 50px;
	color: white;
}

.header-title h4 {
	margin-top: -20px;
	font-weight: normal;
	font-size: 14px;
	color: #B1B1B1;
}

.header-title li {
	text-align: center;
}

.header-image-url {
	color: #B1B1B1;
}

.divider {
	background-color: #333333;
	width: 100%;
	height: 5px;
}

/* ================== *
 * = Navigation Bar = *
 * ================== */ 

.navbar-container {
	margin: 0 auto;
	width: 52%;
}

.navbar-items {
	padding: 0;
	margin: 15px auto;
	text-align: center;
}

.navbar-items li {
	display: inline-flex;
}

.navbar-items a {
	font-weight: bold;
	text-decoration: none;
	font-size: 20px;
	margin: 5px 20px;
	color: white;
}

/* ======== *
 * = Home = *
 * ======== */ 

#home-description {
	margin: auto;
	padding: 100px 0 50px 0;
	width: 60%;
	text-align: center;
	font-weight: normal;
	font-size: 30px;
}

.bottom-padding {
	height: 100px;
}

/* ======== *
 * = Page = *
 * ======== */ 

.page-title {
	margin: auto;
	padding-top: 100px;
	width: 60%;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
}

.page-description {
 	margin: auto;
 	padding-top: 50px;
 	width: 60%;
 	text-align: center;
 	font-weight: normal;
 	font-size: 30px;
}


/* ========= *
 * = Album = *
 * ========= */

.album-container {
	display: block;
	margin: auto;
}

.album-name {
	margin-bottom: 0;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
}

.album-date-created, .album-date-modified {
	margin: 10px 0 0 0;
	font-weight: normal;
	font-size: 20px;
	text-align: center;
}

.album-image {
	display: block;
	margin: auto;
	width: 500px;
	height: 500px;
	object-fit: cover;
	border-radius: 8px;
	border: solid black 3px;
}

#photos-title {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

.image-credit {
	margin-top: 10px;
	font-weight: normal;
	font-size: 14px;
	text-align: center;
}

.image-credit b {
	color: black;
}

 /* ================= *
  * = Photo Catalog = *
  * ================= */

.photos-container {
	flex-wrap: wrap;
	display: flex;
	margin: 0 auto 100px auto;
	width: 80%;
}

.photo-item {
	display: block;
	margin: 12px;
	width: 24.75vw;
	border-radius: 8px;
	border: solid black 1px;
	background-color: #D3D3D3;
	overflow: hidden;
}

.photo-image {
	background-size: 100%;
	width: 24.75vw;
    height: 24.75vw;
	min-height: 350px;
}

.photo-title {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	color: black;
}

#back-button {
	font-weight: normal;
	font-size: 20px;
	text-align: center;
	color: gray;
}

.photo-caption {
	margin: 0;
	font-weight: normal;
	font-size: 16px;
	text-align: center;
	color: black;
}

.photo-credit {
	font-weight: normal;
	font-size: 14px;
	text-align: center;
	color: black;
}

.photo-credit b {
	color: black;
}

/* ============ *
 * = Add Page = *
 * ============ */ 

.add-title {
	margin: 70px 0 0 0;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

.add-subtitle {
	margin: 15px auto;
	font-weight: normal;
	font-size: 20px;
	text-align: center;
}

.add-form-container {
	margin: 50px auto 50px;
	width: 50%;
}

.add-form input {
	outline: none;
	min-height: 45px;
	min-width: 100%;
	height: 45px;
	font-size: 22px;
	font-weight: bold;
}

.add-form input[type=text], textarea {
	padding-left: 10px;
	margin: 8px auto;
	width: 100%;
	border-radius: 5px;
	border: solid 2px #4A4A4A;
	color: #4A4A4A;
}

.add-form input[type=submit] {
	margin: 8px auto 0 auto;
	display: block;
	width: 200px;
	min-width: 120px;
	padding: 0 15px;
	border-radius: 7px;
	text-transform: uppercase;
	text-align: center;
	color: white;
	background-color: #4A4A4A;
	border-style: none;
}

#album-photo-field {
	display: inline-flex;
}

#album-form-subtitle {
	color: red;
}

#photo-form-subtitle {
	color: red;
}















