/* ========== *
 * = Global = *
 * ========== */ 

html * {
   font-family: Lato;
}

body {
	margin: auto;
}

a {
	text-decoration: none;
	color: white;
}

ul {
	list-style-type: none;
}

.active-page span {
	border-bottom: solid 5px #B1B1B1;
}

/* ========== *
 * = Header = *
 * ========== */ 

.header {
	background-image: url("../assets/bg.png");
	width: 100%;
	height: 400px;
}

.header-container {
	margin: auto;
	padding-top: 70px;
}

.header-title {
	display: block;
	margin: auto;
	padding: 50px 0 0 0;
	width: 60%;
	height: 200px;
}

.header-title h1 {
	font-weight: bold;
	font-size: 50px;
	color: white;
}

.header-title h4 {
	margin-top: -20px;
	font-weight: normal;
	font-size: 14px;
	color: #B1B1B1;
}

.header-title li {
	text-align: center;
}

.header-image-url {
	color: #B1B1B1;
}

.divider {
	background-color: #333333;
	width: 100%;
	height: 5px;
}

/* ================== *
 * = Navigation Bar = *
 * ================== */ 

.navbar-container {
	margin: 0 auto;
	width: 52%;
}

.navbar-items {
	padding: 0;
	margin: 15px auto;
	text-align: center;
}

.navbar-items li {
	display: inline-flex;
}

.navbar-items a {
	font-weight: bold;
	text-decoration: none;
	font-size: 20px;
	margin: 5px 20px;
	color: white;
}

/* ======== *
 * = Home = *
 * ======== */ 

#home-description {
	margin: auto;
	padding: 100px 0 50px 0;
	width: 60%;
	text-align: center;
	font-weight: normal;
	font-size: 30px;
}

.bottom-padding {
	height: 100px;
}

/* ======== *
 * = Page = *
 * ======== */ 

.page-title {
	margin: auto;
	padding-top: 100px;
	width: 60%;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
}

.page-description {
 	margin: auto;
 	padding-top: 50px;
 	width: 60%;
 	text-align: center;
 	font-weight: normal;
 	font-size: 30px;
}


/* ========= *
 * = Album = *
 * ========= */

.album-container {
	display: block;
	margin: auto;
}

.album-name {
	margin-bottom: 0;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
}

.album-date-created, .album-date-modified {
	margin: 10px 0 0 0;
	font-weight: normal;
	font-size: 20px;
	text-align: center;
}

.album-image {
	display: block;
	margin: auto;
	width: 500px;
	height: 500px;
	object-fit: cover;
	border-radius: 8px;
	border: solid black 3px;
}

#photos-title {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

.image-credit {
	margin-top: 10px;
	font-weight: normal;
	font-size: 14px;
	text-align: center;
}

.image-credit b {
	color: black;
}

 /* ================= *
  * = Photo Catalog = *
  * ================= */

.photos-container {
	flex-wrap: wrap;
	display: flex;
	margin: 0 auto 100px auto;
	width: 80%;
}

.photo-item {
	display: block;
	margin: 12px;
	width: 24.75vw;
	border-radius: 8px;
	border: solid black 1px;
	background-color: #D3D3D3;
	overflow: hidden;
}

.photo-image {
	margin: auto;
	background-size: 100%;
	width: 24.75vw;
    height: 24.75vw;
	min-height: 350px;
	border: solid 1px black;
}

.photo-title {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	color: black;
}

.back-button {
	margin: 10px auto 20px auto;
	width: 200px;
	font-weight: normal;
	font-size: 20px;
	text-align: center;
	color: gray;
}

.photo-caption {
	margin: 0;
	font-weight: normal;
	font-size: 20px;
	text-align: center;
	color: black;
}

.photo-credit {
	font-weight: normal;
	font-size: 16px;
	text-align: center;
	color: black;
}

.photo-albums {
	margin-bottom: 50px;
	font-weight: normal;
	font-size: 20px;
	text-align: center;
	color: black;
}

.photo-credit b {
	color: black;
}

/* =============== *
 * = Image Popup = *
 * =============== */ 

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 5%;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    width: 80%;
    height: 80%;
    overflow: auto;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.close {
	margin: 10px 15px 0 0;
    float: right;
    font-size: 30px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    color: gray;
    background-color: white;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.image-button {
	border: none;
}

.image-button:hover, .image-button:focus {
	cursor: pointer;
}

#photo-title {
	padding-top: 20px;
	font-size: 30px;
	margin-left: 15px;
}

#photo-image {
	margin: auto;
	display: block;
	width: auto;
    height: auto;
    max-width: 80%;
	max-height: 80%;
    border: solid 1px black;
}

#photo-caption {
	margin-top: 20px;
	font-size: 20px;
}

#photo-credit {
	font-size: 16px;
}

/* =============== *
 * = Input Forms = *
 * =============== */ 

.general-description {
	margin: 70px 0 0 0;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

.form-description {
	margin: 10px 0;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

.page-description a {
	color: blue;
	text-decoration: underline;
}

.add-form-container, .login-form-container, .search-form-container {
	margin: 50px auto 50px;
	width: 50%;
}

input {
	outline: none;
	min-height: 45px;
	min-width: 100%;
	height: 45px;
	font-size: 22px;
	font-weight: bold;
}

input[type=text], input[type=password], textarea {
	padding-left: 10px;
	margin: 8px auto;
	width: 100%;
	border-radius: 5px;
	border: solid 2px #4A4A4A;
	color: #4A4A4A;
}

input[type=submit], .delete-button {
	margin: 8px auto 0 auto;
	display: block;
	width: 200px;
	min-width: 120px;
	padding: 0 15px;
	border-radius: 7px;
	text-transform: uppercase;
	text-align: center;
	color: white;
	background-color: #4A4A4A;
	border-style: none;
}

/* ============ *
 * = Add Page = *
 * ============ */ 

.add-title {
	margin: 70px 0 0 0;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

.general-subtitle {
	margin: 15px auto;
	font-weight: normal;
	font-size: 20px;
	text-align: center;
	color: red;
}

#album-photo-field {
	display: inline-flex;
}

#album-form-subtitle {
	color: red;
}

#photo-form-subtitle {
	color: red;
}

.upload-button {
	font-weight: bold;
	font-size: 20px;
}

/* ============== *
 * = Login Page = *
 * ============== */ 


/* =============== *
 * = Search Page = *
 * =============== */

.search-form-container {
	margin-top: 20px;
}

/* ============== *
 * = Edit Forms = *
 * ============== */

.edit-options-container {
	display: block;
	margin: auto;
	width: 300px;
	height: 40px;
}

.edit-options {
	display: inline-flex;
}

.edit-button {
	border: none;
	width: 145px;
	background-color: white;
}

.edit-button h3 {
	margin: 0;
	font-weight: normal;
	font-size: 20px;
	text-decoration: underline;
	color: blue;
}

.options-divider {
	margin: auto;
	width: 10px;
}

.popup-message-container {
	margin: auto;
}

#delete-album-content {
	height: 300px;
}












