/* ========== *
 * = Global = *
 * ========== */ 

html * {
   font-family: Lato;
}

body {
	margin: auto;
}

ul {
	list-style-type: none;
}

.active-page span {
  border-bottom: solid 5px #22453D;
}

/* ============= *
 * = Home Page = *
 * ============= */ 

/* - Header - */

.home-header {
	background-color: #5ACEB5;
	background-image: linear-gradient(#5ACEB5, #33AB91);
	overflow: auto;
}

#profile-container {
	display: -webkit-flex;
	margin: 40px auto;
	width: 52%;
	font-size: 25px;
	vertical-align: middle;
}

#profile-pic {
	width: 250px;
	height: 250px;
}

#home-description {
	color: white;
	padding-left: 40px;
	margin: auto 0;
}

/* - Navbar - */

#home-navbar-container {
	margin: 0 auto;
	width: 52%;
}

.navbar-items {
	padding: 0;
	margin: 15px auto;
	text-align: center;
}

.navbar-items li {
	display: inline-flex;
}

.navbar-items a {
	font-weight: bold;
	text-decoration: none;
	color: white;
}

#home-navbar-container .navbar-items a {
	font-size: 20px;
	padding: 5px 20px;
}

/* - Body - */

#home-body-container {
	display: -webkit-flex;
	margin: 50px auto;
	width: 83%;
}

#interests-triangle {
	width: 300px;
	height: 280px;
	padding-right: 50px;
}

#home-body-text {
	margin: auto 0;
	font-size: 30px;
	color: #4A4A4A;
	padding-left: 20px;
	border-left: solid 10px #5ACEB5;
}

/* - Footer - */

.footer {
	background-color: #5ACEB5;
	background-image: linear-gradient(#5ACEB5, #33AB91);
	overflow: auto;
}

#footer-container {
	display: -webkit-flex;
}

#copyright {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	margin: 15px 20px;
	color: white;
	white-space: nowrap;
}

#contact-container {
	display: inline-block;
	margin: auto 13px auto auto;
	text-align: center;
}

.contact-items {
	display: -webkit-flex;
	margin: auto;
	padding: 0;
}

.contact-items li {
	margin: auto 7px;
	border-radius: 50%;
	height: 32px;
    width: 32px;
    line-height: 32px;
    background-color: #22453D;
}

.contact-items img {
	margin-top: 8px;
	height: 15px;
}

.contact-items li:hover {
	transform: scale(1.1, 1.1);
}

/* ============== *
 * = About Page = *
 * ============== */ 

/* - Header - */

.header {
	background-color: #5ACEB5;
	background-image: linear-gradient(#5ACEB5, #33AB91);
	overflow: auto;
}

#logo {
	margin: 15px 30px;
	width: 50px;
	height: 50px;
}

.footer {
	min-height: 100%;
    margin-bottom: -52px;
    height: 52px;
}

/* - Navbar - */

.header-container {
	display: -webkit-flex;
}

#navbar-container {
	margin: auto 10px auto auto;
}

#navbar-container .navbar-items a {
	display: inline-block;
	font-size: 18px;
	padding: 5px 20px;
}

#navbar-container .navbar-items a {
	font-weight: bold;
	text-decoration: none;
	color: white;
}

/* - Title- */

#about-title p {
	margin: 50px auto 20px auto;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: #22453D;
}

#title-underline {
	margin: auto;
	background-color: #5ACEB5;
	width: 120px;
	height: 5px;
}

/* - Categories - */

.about-categories-container {
	display: -webkit-flex;
	margin: 78px auto;
	width: 90%;
	overflow: auto;
}

.about-category {
	display: block;
	margin: 0 30px;
	background-color: #f5f5f5;
	border-radius: 15px;
	border: solid 3px #22453D;
}

.about-category img {
	display: block;
	margin: 20px auto;
}

#student-icon {
	margin: 45px auto;
}

.about-category h2 {
	text-align: center;
	color: #4A4A4A;
}

.about-category p {
	margin: auto auto 30px auto;
	text-align: center;
	color: #4A4A4A;
	width: 80%;

}




/* ============= *
 * = Work Page = *
 * ============= */ 

/* ================= *
 * = Projects Page = *
 * ================= */ 

/* ================= *
 *  = Contact Page = *
 * ================= */ 









