/* ========== *
 * = Global = *
 * ========== */ 

a {
	text-decoration: none;
}

html * {
   font-family: Lato;
}

body {
	margin: auto;
}

ul {
	list-style-type: none;
}

.active-page span {
  border-bottom: solid 5px #22453D;
}

/* ============= *
 * = Home Page = *
 * ============= */ 

/* - Header - */

.home-header {
	background-color: #5ACEB5;
	background-image: linear-gradient(#5ACEB5, #33AB91);
	overflow: auto;
}

#profile-container {
	display: -webkit-flex;
	margin: 40px auto;
	width: 52%;
	font-size: 25px;
	vertical-align: middle;
}

#profile-pic {
	width: 250px;
	height: 250px;
}

#home-description {
	color: white;
	padding-left: 40px;
	margin: auto 0;
}

/* - Navbar - */

#home-navbar-container {
	margin: 0 auto;
	width: 52%;
}

.navbar-items {
	padding: 0;
	margin: 15px auto;
	text-align: center;
}

.navbar-items li {
	display: inline-flex;
}

.navbar-items a {
	font-weight: bold;
	text-decoration: none;
	color: white;
}

#home-navbar-container .navbar-items a {
	font-size: 20px;
	padding: 5px 20px;
}

/* - Body - */

#home-body-container {
	display: -webkit-flex;
	margin: 50px auto;
	width: 83%;
}

#interests-triangle {
	width: 300px;
	height: 280px;
	padding-right: 50px;
}

#home-body-text {
	margin: auto 0;
	font-size: 30px;
	color: #4A4A4A;
	padding-left: 20px;
	border-left: solid 10px #5ACEB5;
}

/* - Footer - */

.footer {
	background-color: #5ACEB5;
	background-image: linear-gradient(#5ACEB5, #33AB91);
	overflow: auto;
}

#footer-container {
	display: -webkit-flex;
}

#copyright {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	margin: 15px 20px;
	color: white;
	white-space: nowrap;
}

#contact-container {
	display: inline-block;
	margin: auto 13px auto auto;
	text-align: center;
}

.contact-items {
	display: -webkit-flex;
	margin: auto;
	padding: 0;
}

.contact-items li {
	margin: auto 7px;
	border-radius: 50%;
	height: 32px;
    width: 32px;
    line-height: 32px;
    background-color: #22453D;
}

.contact-items img {
	margin-top: 8px;
	height: 15px;
}

.contact-items li:hover {
	transform: scale(1.1, 1.1);
}

/* ============== *
 * = About Page = *
 * ============== */ 

/* - Header - */

.header {
	background-color: #5ACEB5;
	background-image: linear-gradient(#5ACEB5, #33AB91);
	overflow: auto;
}

#logo {
	margin: 15px 30px;
	width: 50px;
	height: 50px;
}

.footer {
	min-height: 100%;
    margin-bottom: -52px;
    height: 52px;
}

/* - Navbar - */

.header-container {
	display: -webkit-flex;
}

#navbar-container {
	margin: auto 10px auto auto;
}

#navbar-container .navbar-items a {
	display: inline-block;
	font-size: 18px;
	padding: 5px 20px;
}

#navbar-container .navbar-items a {
	font-weight: bold;
	text-decoration: none;
	color: white;
}

/* - Title- */

#title p {
	margin: 50px auto 20px auto;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: #22453D;
}

#title-underline {
	margin: auto;
	background-color: #5ACEB5;
	width: 120px;
	height: 5px;
}

/* - Categories - */

.about-categories-container {
	display: -webkit-flex;
	margin: 78px auto;
	width: 90%;
	overflow: auto;
}

.about-category {
	display: block;
	margin: 0 30px;
	background-color: #f5f5f5;
	border-radius: 15px;
	border: solid 3px #22453D;
}

.about-category img {
	display: block;
	margin: 20px auto;
}

#student-icon {
	margin: 45px auto;
}

.about-category h2 {
	text-align: center;
	color: #4A4A4A;
}

.about-category p {
	margin: auto auto 30px auto;
	text-align: center;
	color: #4A4A4A;
	width: 80%;

}

/* ============= *
 * = Work Page = *
 * ============= */ 

/* - Categories - */

.work-categories-container {
	display: block;
	padding: 30px 0;
}

.work-categories-divider {
	margin: auto;
	width: 75%;
	height: 2px;
	background-color: #4A4A4A;
}

.work-category {
	display: -webkit-flex;
	margin: 50px auto;
	width: 75%;
}

.work-category a {
	margin: auto;
}

.work-category img {
	margin: auto 50px auto 0;
	width: 150px;
	height: 150px;
}

.work-category h1 {
	margin: 0;
	font-size: 40px;
	font-weight: bold;
}

.work-category h2 {
	margin: 0;
	font-size: 30px;
	font-weight: bold;
	color: #4A4A4A;
}

.work-category p {
	margin-bottom: 0;
	font-size: 20px;
	color: #4A4A4A;
}

.work-title {
	border-left: solid 7px #5ACEB5;
	padding-left: 20px;
}

.work-description {
	margin: auto;
}

/* ================= *
 * = Projects Page = *
 * ================= */ 

/* - Categories - */

.projects-categories-container {
	flex-wrap: wrap;
	display: inline-flex;
	padding: 30px 100px;
}

.project-category-divider {
	margin: 15px auto;
	background-color: #5ACEB5;
	width: 50px;
	height: 4px;
}

.projects-category {
	margin: 1.16% 1.16%;
	width: 26.5vw;
	height: 26.5vw;
	border-radius: 10px;
	border: solid 1px #4A4A4A;
	background-size: 100% 100%;
	background-color: #4A4A4A;
}

.projects-category h2 {
	margin: 0 auto;
	width: 80%;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	color: white;
}

.projects-category h4 {
	margin: 0 auto;
	font-size: 18px;
	font-weight: normal;
	width: 80%;
	text-align: center;
	color: white;
}

.project-details-container {
	padding: 22% 0;
}

.github-button {
	margin: 30px auto 0 auto;
	padding: 10px;
	border-radius: 6px;
	width: 100px;
	font-size: 25px;
	text-align: center;
	color: white;
	background-color: #5ACEB5;
}

.overlay {
    position: relative;
    width: 26.5vw;
    height: 26.5vw;
    border-radius: 8px;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
}

/* - Images - */

#icefishing {
	background-image: url("../images/icefishing_image.png");
}

#eatery {
	background-image: url("../images/eatery_image.png");
}

#fire-emblem {
	background-image: url("../images/fire_emblem_image.png");
}

#haven {
	background-image: url("../images/haven_image.png");
}

#spaceship-vr {
	background-image: url("../images/spaceship_vr_image.png");
}

#hungry-brown {
	background-image: url("../images/hungry_brown_image.png");
}

/* ================= *
 *  = Contact Page = *
 * ================= */ 









