/* ========== *
 * = Global = *
 * ========== */ 

html * {
   font-family: Lato;
}

body {
	margin: auto;
}

ul {
	list-style-type: none;
}

.active-page span {
  border-bottom: solid 5px #22453D;
}

/* ============= *
 * = Home Page = *
 * ============= */ 

/* - Header - */

.home-header {
	background-color: #5ACEB5;
	overflow: auto;
}

#profile-container {
	display: -webkit-flex;
	margin: 40px auto;
	width: 52%;
	font-size: 25px;
	vertical-align: middle;
}

#profile-pic {
	width: 250px;
	height: 250px;
}

#home-description {
	color: white;
	padding-left: 40px;
	margin: auto 0;
}

/* - Navbar - */

#navbar-container {
	margin: 0 auto;
	width: 52%;
}

.navbar-items {
	padding: 0;
	margin: 15px auto;
	text-align: center;
}

.navbar-items li {
	display: inline-flex;
}

.navbar-items a {
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	color: white;
	padding: 5px 20px;
}

/* - Body - */

#body-container {
	display: -webkit-flex;
	margin: 50px auto;
	width: 83%;
}

#interests-triangle {
	width: 300px;
	height: 280px;
	padding-right: 50px;
}

#home-body-text {
	margin: auto 0;
	font-size: 30px;
	color: #4A4A4A;
	padding-left: 20px;
	border-left: solid 10px #5ACEB5;
}

/* - Footer - */

.footer {
	background-color: #5ACEB5;
	overflow: auto;
}

#footer-container {
	display: -webkit-flex;
}

#copyright {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	margin: 15px 20px;
	color: white;
	white-space: nowrap;
}

#contact-container {
	display: inline-block;
	margin: auto 13px auto auto;
	text-align: center;
}

.contact-items {
	display: -webkit-flex;
	margin: auto;
	padding: 0;
}

.contact-items li {
	margin: auto 7px;
	border-radius: 50%;
	height: 32px;
  width: 32px;
  line-height: 32px;
  background-color: #22453D;
}

.contact-items img {
	margin-top: 8px;
	height: 15px;
}

.contact-items li:hover {
	transform: scale(1.1, 1.1);
}

/* ============== *
 * = About Page = *
 * ============== */ 

/* ============= *
 * = Work Page = *
 * ============= */ 

/* ================= *
 * = Projects Page = *
 * ================= */ 

/* ================= *
 *  = Contact Page = *
 * ================= */ 









