/* ========== *
 * = Global = *
 * ========== */ 

 html * {
   font-family: Montserrat;
}

body {
	margin: auto;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

/* ========== *
 * = Header = *
 * ========== */ 

#header {
	background-image: url("../assets/cover-photo.png");
	width: 100%;
	height: 450px;
}

#header-content-container {
	margin: auto;
}

#header-title {
	margin: 0 auto ;
	width: 60%;
	display: flex;
	padding: 0;
}

.title-tags {
	margin: 0 20px;
	font-size: 200px;
	font-weight: normal;
	text-align: center;
	color : #376FAF;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #4A90E2;
}

#header-title h1 {
	font-size: 100px;
	font-weight: bold;
	text-align: center;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #555555;
}

#header h2 {
	margin: 0 auto;
	font-size: 50px;
	font-weight: normal;
	text-align: center;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #555555;
}

#divider {
	background-color: #4A90E2;
	width: 100%;
	height: 5px;
}

 /* ======================= *
  * = Add & Search NavBar = *
  * ======================= */ 

.active span {
  border-bottom: solid 8px #4A90E2;
}

#navbar-items {
	margin: 0 auto;
	width: 100%;
	display: flex;
}

#navbar-items h2 {
	display: block;
	width: 200px;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	color: #4A4A4A;
}

#add-title {
	margin: 35px 0 35px auto;
}

#search-title {
	margin: 35px auto 35px 0;
}

 /* ===================== *
  * = Add & Search Area = *
  * ===================== */ 

.add-search-form {
	padding-bottom: 55px;
	background-color: #f2f2f2;
}

.form {
	margin: 0 auto;
	width: 80%;
	border-radius: 8px;
	background-color: #D8D8D8;
}

.form-container input[type=text] {
	margin: 0;
	padding: 0 25px;
	height: 80px;
	outline: none;
	font-size: 40px;
	font-weight: normal;
	border: solid 1px #979797;
}

.form-container input:placeholder-shown {
	color: #9B9B9B;
}

.form-container input[type=submit] {
	width: 20%;
	border-radius: 0 0 8px 0;
	font-size: 40px;
	font-weight: normal;
    text-transform: uppercase;
    background-color: #4A4A4A;
    color: white;
    border: none;
}

.form-container input[type=submit]:hover {
	background-color: 323132;
	transition: background-color 0.5s ease;
}

/* Basic Profile Fields */

#basic-profile-form {
	display: flex;
	padding: 1% 1% 0 1%;
}

#name-field {
	width: 30%;
	border-radius: 8px 0 0 0;
}

#image-url-field {
	width: 70%;
	border-radius: 0 8px 0 0;
}

/* Select Fields */

.form-container select {
	display: block;
	padding-left: 25px;
	width: 33.33%;
	height: 80px;
	font-size: 40px;
	font-weight: normal;
	text-align: center;
	outline: none;
    background-color: white;
    color: #9B9B9B;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background: url(../assets/down-arrow.png) no-repeat right white;
    padding-right: 25px;
}

#select-options {
	display: flex;
	padding: 0 1%;
}

#personality-select {
/*	border-radius: 0 0 8px 0;*/
}

/* Specific Profile Fields */

#specific-profile-form {
	display: flex;
	padding: 0 1% 1% 1%;
}

#favorite-toy-field {
	width: 40%;
	border-radius: 0 0 0 8px;
}

#special-talent-field {
	width: 40%;
}

 /* =========== *
  * = Catalog = *
  * =========== */ 

.catalog {
	background-color: #f2f2f2;
	padding-bottom: 100px;
}

.catalog-container {
	flex-wrap: wrap;
	display: flex;
	margin: 0 auto;
	width: 80%;
}

#catalog-title {
	margin: 0 auto;
	width: 80%;
	font-size: 40px;
	font-weight: bold;
}

.catalog-item {
	position: relative;
	background-image: url(../assets/corgi.png);
	background-size: 100%;
	margin: 12px;
	width: 25vw;
    height: 25vw;
	min-height: 350px;
	border-radius: 8px;
	overflow: hidden;
}

.inner-catalog-container {
	position: absolute;
	width: 100%;
	top: 18.5vw;
	transition: top 0.5s ease;
}

.catalog-item:hover .inner-catalog-container {
	top: 0px;
	transition: top 0.5s ease;
}

.top-item-container {
	display: flex;
	margin: 0;
	padding: 10px;
	background-color: rgba(74, 144, 226, 0.75);
}

#name {
	margin: 0 0 0 15px;
	font-size: 35px;
	font-weight: bold;
}

#description {
	margin: 0 0 0 15px;
	font-size: 25px;
	font-weight: bold;
}

#emoji {
	margin: auto 15px auto auto;
	width: 60px;
	height: 60px;
}

.bottom-item-container {
	padding: 10px 0 25vw 0;
	height: 100%;
	background-color: rgba(74, 144, 226, 0.5);
	
}

.bottom-item-container h3 {
	margin: 0;
	padding: 5px 25px;
	font-size: 20px;
	font-weight: normal;
}
